* {
  box-sizing: border-box;
}

html {

}

body {

}

.box {
  width: 200px;
  height: 300px;
  background-color: pink;
  color: white;
  padding-left: 20px;
  border: 5px solid mediumseagreen;
  margin-bottom: 20px;
  display: inline-block;
}

